{
  "Name" : "Orthanc {{ orthanc_name }} on Synology",
  "StorageDirectory" : "/var/lib/orthanc/storage",
  "IndexDirectory" : "/var/lib/orthanc/storage",

  "PostgreSQL" : {
    "EnableIndex" : true,
    "EnableStorage" : false,
    "Host" : "{{ orthanc_name }}-postgres",
    "Port" : 5432,
    "Database" : "orthanc",
    "Username" : "orthanc",
    "Password" : "{{ orthanc_pg_password }}"
  },

  "StorageCompression" : true,
  "MaximumStorageSize" : 0,
  "MaximumPatientCount" : 0,
  "LuaScripts" : [],
  "Plugins" : [
    "/usr/share/orthanc/plugins", "/usr/local/share/orthanc/plugins"
  ],

  "HttpServerEnabled" : true,
  "HttpPort" : 8042,
  "HttpDescribeErrors" : true,
  "HttpCompressionEnabled" : false,
  "DicomServerEnabled" : true,
  "DicomAet" : "{{ orthanc_name }}",
  "DicomCheckCalledAet" : false,
  "DicomPort" : 4242,
  "DefaultEncoding" : "UTF8",
  "DeflatedTransferSyntaxAccepted"     : true,
  "JpegTransferSyntaxAccepted"         : true,
  "Jpeg2000TransferSyntaxAccepted"     : true,
  "JpegLosslessTransferSyntaxAccepted" : true,
  "JpipTransferSyntaxAccepted"         : true,
  "Mpeg2TransferSyntaxAccepted"        : true,
  "RleTransferSyntaxAccepted"          : true,
  "UnknownSopClassAccepted"            : false,
  "DicomScpTimeout" : 30,
  "RemoteAccessAllowed" : true,
  "SslEnabled" : false,
  "SslCertificate" : "certificate.pem",
  "AuthenticationEnabled" : true,
  "RegisteredUsers" : { "orthanc": "orthanc" },
  "DicomModalities" : { },
  "DicomScuTimeout" : 10,
  "OrthancPeers" : {  },
  "HttpProxy" : "",
  "HttpTimeout" : 60,
  "HttpsVerifyPeers" : true,
  "HttpsCACertificates" : "",
  "UserMetadata" : {  },
  "UserContentType" : {  },
  "StableAge" : 60,
  "StrictAetComparison" : false,
  "StoreMD5ForAttachments" : true,
  "LimitFindResults" : 200,
  "LimitFindInstances" : 500,
  "LimitJobs" : 10,
  "LogExportedResources" : true,
  "KeepAlive" : false,
  "StoreDicom" : true,
  "DicomAssociationCloseDelay" : 5,
  "QueryRetrieveSize" : 10,
  "CaseSensitivePN" : false,
  "AllowFindSopClassesInStudy" : false,
  "Dictionary" : {  }
}


